.chat-bg-color{
  background: darkgrey;
}

.chat-bg-color2{
  background: pink;
}

.card-position{
  left:30px;
  right: 30px;
  top : 30px;
  bottom: 30px;
}

.img-size{
  height: 70px;
  width:70px;
}

/**{*/
/*  outline: 2px solid blue;*/
/*}*/


